<style>
	#nav li:hover ul.artists {
		bottom: <%= 70 + (@artists.length)*70 %>px; /* 70 + 70 per */
	}
</style>
<ul class="subnav artists">
	<% @artists.each do |artist| %>
		<li><%= link_to artist.name, artist %></li>
	<% end %>
</ul>