<div id="about_left">
	<h1>E-W Artist Management</h1>
	<%= image_tag @erick_pic.url %>
</div>
<div id="about_right">
		<iframe class="frame" width="511" height="288" src="http://www.youtube.com/embed/asE3zMujh1w" frameborder="0" allowfullscreen></iframe>
		<p><%= @company_info.company_bio %></p>
</div>
