/* Application Color
-------------------------------------------------------------- */

html {
	min-width: 980px;
}

body {
	background: url("layout/main_bg.jpg") no-repeat fixed top center black;
	background-size: 100%;
}

.admin_nav_container { 
	background: url("layout/pane_bg.png"); 
}

#content_container { 
	background: url("layout/pane_bg.png"); 
}

#nav_container { 
	background: url("layout/nav_bg.png") repeat-x; 
}

	#nav ul.subnav li { 
		background: url("layout/nav_bg.png") repeat-x; 
	}
	
#footer_container { 
	background: url("layout/footer.jpg"); 
}

/* Fonts and Text Color
-------------------------------------------------------------- */
	
h1 {
	font-family: 'Oswald';
	font-weight: 400;
	color: white;
	text-transform: uppercase;
}

label {
	color: white;
}

#admin_nav .text {
	color: white;
	font-size: 1em;
	font-family: Helvetica, sans-serif;
}

#content h1 { 
	font-size: 1.75em; 
}

#content p {
	color: #848484;
	font-size: .8em;
	font-family: Arial, Helvetica, sans-serif;
}

#nav {
	text-transform: uppercase;
	font-family: Arial;
	font-size: .8em;
}

#footer {
	text-transform: uppercase;
	color: #707070;
}

#footer h1 { 
	font-size: 1.2em; 
}

#footer p {
	font-family: 'Istok Web';
	font-weight: 400;
	font-size: .65em;
}

	/* Links
	-------------------------------------------------------------- */

	a { 
		text-decoration: none;
		color: white;
	}
	
	a:visited { 
		color: white;
	}
	
	a:hover   { 
		color: #E5001C;
	}
	
	a:active  { 
		color: white;
	}
	
	#admin_nav a {
		color: white;
		font-size: 1em;
		font-family: Helvetica, sans-serif;
	}
	
	#admin_nav a:hover {
		color: #E5001C;
	}
	
	a.action_link {
		font-family: 'Oswald';
		font-weight: 400;
		font-size: 1.5em;
		color: #848484;
		text-transform: uppercase;
	}
	
	a:hover.action_link {
		color: #E5001C;
	}
	
		a.boxed {
			display: block;
			text-align: center;
			padding: 2px 0 2px 0;
			border: 2px solid #848484;
			margin: 15px 0 15px 0;
		}
		
		a:hover.boxed {
			border: 2px solid #E5001C;
		}
	
	#nav a { 
		color: white; 
	}
	
	#nav a:hover, #nav a:active { 
		color: white;
		background: url("layout/nav_bg_hover.png") repeat-x; 
	}