<div class='admin_nav_clear'>
</div>
<div class='admin_nav_container fixed'>
	<div class="admin_nav">
		<%= link_to "Dashboard", dashboard_path %>
		<%= render 'layouts/admin_action' %>
		<%= link_to 'Sign out', sign_out_path, class: "sign_out", :method => :delete %>
	</div>
</div>