<div class='admin_nav_clear'>
</div>
<div class='admin_nav_container fixed'>
	<div id="admin_nav">
		<% if signed_in? %>
	  		<span class="text">Welcome,</span> <%= link_to current_user.first_name, dashboard_path %>
			<%= link_to 'Sign out', sign_out_path, class: "sign_out", :method => :delete %>
	    <% else %>
	      <%= link_to 'Sign in', sign_in_path %>
	    <% end %>
	</div>
</div>