<div id="admin_nav_container">
	<div id="admin_nav">
		<% if signed_in? %>
	  		Signed in as: <%= link_to current_user.email, dashboard_path %>
			<%= link_to 'Sign out', sign_out_path, class: "sign_out", :method => :delete %>
	    <% else %>
	      <%= link_to 'Sign in', sign_in_path %>
	    <% end %>
	</div>
</div>