<div id="footer_container">
	<div id="footer">
		<div id="col_1">
			<h1>Address</h1>
				<p><%= @company_info.address %></p>
			<p>Telephone: <%= @company_info.telephone_number %></p>
			<p><%= @company_info.email %></p>
		</div>
	</div>
</div>